services/web/project/trained_classification_models/model_russian_latvian_estonian_slovenian_croatian_english_folder_russian_latvian_estonian_slovenian_croatian_english_loss_0.06955235407170482_epoch_9.pt filter=lfs diff=lfs merge=lfs -text
